<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShipRight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShipRight.Properties.Settings>
            <setting name="MouseSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Automatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RejectBoards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RejectScore" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ChainFinish" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ShipRight.Properties.Settings>
    </userSettings>
</configuration>